a,a:visited{
    color: #0071d1;
}

.h1 {
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0px 0px 10px #ffffff;
    color: #ffffff;
    margin-right: 50px;
    margin-left: 20px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: rgba(94, 94, 94, 0.388);
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
}

p.p {
    font-family: "Montserrat", sans-serif;
    font-size: 28px
}

body.errorpage {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

body {
    background-size: cover;
    Background-repeat:no-repeat;
}

footer {
    background-color: rgba(94, 94, 94, 0.388);
    bottom: 0;
    width: 100%;
    left: 0;
    position: fixed;
  }

img.socials-imgs:hover {
    opacity: 0.9;
    cursor: pointer;
    transition: .3s;
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%) drop-shadow(0px 0px 5px #fff);
}

.socials-imgs {
    margin-right: 20px;
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}

.ftrdiv {
    display: flex;
    justify-content: center;
    align-items: center
}

.greentext {
    color: rgb(0, 255, 0);
    text-shadow: 0px 0px 10px rgb(0, 255, 0);
    transition: .3s;
}

.greentext:hover {
    cursor: default;
    text-shadow: 0px 0px 20px rgb(0, 255, 0);
}

.whitetext {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: .3s;
}

.whitetext:hover {
    cursor: default;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.menubuttons {
    background-color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat";
    margin-left: 20px;
    transition: .3s;
    padding-top: 4px;
    padding-right: 30px;
    padding-bottom: 4px;
    padding-left: 30px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(255, 255, 255);
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(255, 255, 255);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menubuttons:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px #ffffff);
}

.downloadbuttons {
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat";
    margin-left: 0px;
    transition: .3s;
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(255, 255, 255);
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(255, 255, 255);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-decoration: none;
}

.downloadbuttons:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px #ffffff);
}

.downloadbuttons2 {
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat";
    margin-left: 0px;
    margin-bottom: 4px;
    margin-top: 4px;
    transition: .3s;
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 8px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(255, 255, 255);
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(255, 255, 255);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(255, 255, 255);
    border-radius: 9px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-decoration: none;
}

.downloadbuttons2:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px #ffffff);
}

.songsbutton {
    color: rgb(95, 218, 255);
}

.termsofusebutton {
    color: rgb(95, 255, 162);
}

.backtohome:hover {
    cursor: pointer;
}

.h1-errorpage {
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0px 0px 10px #ffffff;
    color: #ffffff;
}

.songstable {
    margin-top: 100px;
    font-family: "Montserrat";
    width: 100%;
}

.songsth {
    background-color: black;
    color: white;
}

.artworkth {
    
}

.artworktd {
    width: 80px;
    img {
        width: 80px;
    }
}

.yellowtext {
    color: rgb(255, 247, 0);
    text-shadow: 0px 0px 10px rgb(255, 247, 0);
    transition: .3s;
}

.yellowtext:hover {
    cursor: default;
    text-shadow: 0px 0px 20px rgb(255, 247, 0);
}

.redtext {
    color: rgb(255, 0, 0);
    text-shadow: 0px 0px 10px rgb(255, 0, 0);
    transition: .3s;
}

.redtext:hover {
    cursor: default;
    text-shadow: 0px 0px 20px rgb(255, 0, 0);
}

.pinktext {
    color: rgb(255, 0, 238);
    text-shadow: 0px 0px 10px rgb(255, 0, 238);
    transition: .3s;
}

.pinktext:hover {
    cursor: default;
    text-shadow: 0px 0px 20px rgb(255, 0, 238);
}

.menudiv {
    margin-right: 20px;
    width: 50%;
    height: auto;
    text-align: right;
}

.headerdiv {
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.h1div {
    margin-left: 10px;
    width: 50%;
    height: auto;
    text-align: left;
}
